*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display:flex;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1B1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  justify-content: end;
  gap: 30px;
  margin: 0 30px;
}

 .result {  
  align-self:flex-end;
}

.result__video-container {
  position: relative;
  width: 711px;
  margin: 0 0 11px ;
}

.result__video {
  inline-size: 100%;
  object-fit: cover;
  object-position: center;

}

.search-form {
  display: flex;
  gap: 40px;
  align-items: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  background-color: transparent;
  color: #FFF;
  text-align: center;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: 1px solid #FFF;
  cursor: pointer;
}


.search-form__textfield {
  width: 225px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.70);
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-left: none;
  border-right: none;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  padding: 2px 0;
}

.search-form__fieldset {
  display: flex;
  border: none;
  width: 100%;
  flex-direction: column;
  gap: 5px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: none;
}

.search-form__fieldset-title {
  color: #FFF;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__label {
  display: flex;
  width: fit-content;
  gap: 5px;
  cursor: pointer;
  align-items: center;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFF;
  
}


.search-form__label-text {
  color: #FFF;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.search-form__submit-button {  
  width: 194px;
  height: 34px;
}

.content__details {
  height: 100%;
  width: 100%;  
}

.content__list {
  position: relative;
}

.content__list::-webkit-scrollbar { 
  width: 0; 
}

.content__list-item:not(:last-child) {
  margin-bottom: 34px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
}

.title {
  padding: 0 0 26px 0;
  color: #FFF;
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  }

  .content__accent {
    color: #545050;
    font-family: Oswald;
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: 94%; /* 70.5px */
    text-transform: uppercase;
  }

  .content__list {
    overflow-y: scroll;
    height: 298px;
  }

  .content__card-link {
    text-decoration: none;
  }

  .content__video-card-title {
    margin-bottom: 6px;
    color: #FFF;
    font-family: Oswald;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 30px */
    text-transform: uppercase;
  }

  .content__video-card-description {
    color: #FFF;
    font-family: Fira Sans Condensed;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.2px; /* 90% */
  }

  .content__video-card {
    display: flex;
    justify-content: space-between;
  }

  .more-button {  
  width: 399px;
  height: 34px; 
  }

  .search-form__pseudo-checkbox {
    width: 19px;
    height: 19px;
    border: 1px solid #FFF;
  }






